@model CustomerDocuments.Models.Document

@{
    ViewData["Title"] = "Edit";
    Layout = "~/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Document</h4>
<hr />
@* 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@


<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="DocumentId" />
    <div class="form-group">
        <label asp-for="FileName" class="control-label"></label>
        <input asp-for="FileName" class="form-control" />
        <span asp-validation-for="FileName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" class="form-control"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>