@model IEnumerable<CustomerDocuments.Models.Document>

@{
    ViewData["Title"] = "Index";
    Layout = "~/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>File Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FileName</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.DocumentId">Edit</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.DocumentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-success" asp-action="Create">Create New</a>
